<template>
  <v-container>
    <v-row dense justify="start">
      <v-col cols="2">
      </v-col>
      <v-col cols="8">
        <h1 class="text-center">
            My account
        </h1>
        <v-card
        class="rounded mt-6 mb-4 pa-4"
        width="100%"
        color="#f2f2f2"
        elevation="0">
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
                <v-card-title class="text-h5"> {{ account.firstName }} {{ account.lastName }} </v-card-title>
                <v-card-subtitle> {{ account.email }} </v-card-subtitle>
                <v-card-subtitle> {{ account.address.street }} </v-card-subtitle>
                <v-card-subtitle> {{ account.address.postalCode }} </v-card-subtitle>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="2">
      </v-col>
    </v-row>
    <v-row dense justify="start">
      <v-col cols="2">
      </v-col>
      <v-col cols="8">
        <v-btn :to="{ name: 'my-items'}" x-large block color="#3d3d3d" variant="outlined" flat class="mb-2">
            My items
        </v-btn>
        <v-btn x-large block color="#3d3d3d" variant="outlined" flat class="mb-2" @click="editAccount">
            Edit account information
        </v-btn>
        <AccountEditForm v-model="edit" :user="account" @saveEdit="saved" @cancelEdit="canceled"></AccountEditForm>
        <v-btn x-large block color="#3d3d3d" variant="outlined" flat class="mb-2" :to="{ name: 'change-password' }">
            Change password
        </v-btn>
        <v-btn @click.stop="openDelete()" x-large block color="#c2387d" variant="outlined" flat class="mb-2">
            Delete account
        </v-btn>
        <SpinnerButton
            :spin="loggingIn"
            form="login-form"
            buttonText="Login"
            type="submit"
            data-testid="login-submit"
            elevation="1"
            color="#F06292"
            size="large"
            block
        />
        <ConfirmationDialog
            v-model="openDialog"
            :dialogText="dialogText"
            :confirmationFunc="deleteFuncName"
            :confirmationButtonText="deleteButtonText"
            :cancelFunc="cancelFuncName"
            :cancelButtonText="cancelButtonText"
            @deleteAccount="deleteAccount()"
            @cancelDelete="cancelDelete()"
        />
        <v-btn @click="logout()" x-large block color="#3d3d3d" variant="outlined" flat class="mb-2">
            Log out
        </v-btn>
      </v-col>
      <v-col cols="2">
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { deleteUser } from '@/services/UserService.js'
import AccountEditForm from '@/components/AccountEditForm.vue'
import ConfirmationDialog from '@/components/ConfirmationDialog.vue'

export default {
    name: 'AccountView',
    components: {
        AccountEditForm,
        ConfirmationDialog
    },
    computed: {
        account() {
            return this.$store.getters['user/user']
        }
    },
    data() {
        return {
            edit: false,
            deleting: false,
            openDialog: false,
            dialogText: 'Are you sure you want to delete your account?',
            deleteButtonText: 'DELETE',
            cancelButtonText: 'Cancel',
            deleteFuncName: 'deleteAccount',
            cancelFuncName: 'cancelDelete'
        }
    },
    methods: {
        openDelete() {
            this.deleting = true
            this.openDialog = true
        },
        async deleteAccount() {
            deleteUser()
            this.openDialog = false
            this.edit = false
            this.$store.dispatch('authentication/stopSession')
            this.deleting = false
        },
        cancelDelete() {
            this.deleting = false
            this.openDialog = false
        },
        editAccount() {
            this.edit = true
        },
        saved(account) {
            this.account = account
            this.edit = false
        },
        canceled() {
            this.edit = false
            return this.edit
        },
        logout() {
            this.$store.dispatch('authentication/stopSession')
        }
    }
}
</script>
