<template>
<v-container>
    <v-row justify="center">
        <v-col cols=11 sm=8 md=6 class="mb-6">
            <h1 class="text-center">
                Change password
            </h1>
        </v-col>
    </v-row>

    <v-row justify="center">
        <v-col cols=11 sm=8 md=6>
            <v-form
                @submit.prevent="onSubmit"
                id="change-password-form"
                ref="form"
            >
                <v-text-field
                    v-model="currentPassword"
                    label="Current password"
                    placeholder="Enter your current password"
                    prepend-icon="mdi-lock-open-outline"
                    type="password"
                    variant="outlined"
                    :rules="rules.currentPassword"
                    data-testid="currentPasswordField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="newPassword"
                    label="New password"
                    placeholder="Enter your new password"
                    prepend-icon="mdi-lock-outline"
                    type="password"
                    variant="outlined"
                    :rules="rules.newPassword"
                    data-testid="newPasswordField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="repeatNewPassword"
                    label="Repeat new password"
                    placeholder="Repeat your new password"
                    prepend-icon="mdi-lock"
                    type="password"
                    variant="outlined"
                    :rules="rules.repeatNewPassword"
                    data-testid="repeatNewPasswordField"
                    required
                    clearable
                />
                <SpinnerButton
                    :spin="changePassword"
                    form="change-password-form"
                    color="#59f0b6"
                    type="submit"
                    class="ma-2"
                    elevation="1"
                    size="large"
                    buttonText="Change password"
                    block
                />

                <v-expand-transition>
                    <v-alert
                        v-model="hasError"
                        type="error"
                        elevation="1"
                        density="compact"
                        variant="contained-text"
                        rounded="b-lg"
                        closable
                    >
                        {{ error }}
                    </v-alert>
                </v-expand-transition>

                <v-expand-transition>
                    <v-alert
                        v-model="success"
                        type="success"
                        elevation="1"
                        density="compact"
                        variant="contained-text"
                        rounded="b-lg"
                    >
                        Your password was changed
                    </v-alert>
                </v-expand-transition>
            </v-form>

            <v-btn
                type="button"
                elevation="1"
                color="#f0597c"
                size="large"
                class="ma-2"
                @click="this.$router.go(-1)"
                block
            >
                Cancel
            </v-btn>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
import { changePassword } from '@/services/UserService.js'
import SpinnerButton from '@/components/SpinnerButton.vue'

export default {
    components: {
        SpinnerButton
    },
    data: function() {
        return {
            changePassword: false,
            currentPassword: '',
            newPassword: '',
            repeatNewPassword: '',
            rules: {
                currentPassword: [
                    val => !!val || 'Required'
                ],
                newPassword: [
                    val => !!val || 'Required',
                    val => /\d/.test(val) || 'Password must contain at least one number'
                ],
                repeatNewPassword: [
                    val => !!val || 'Required',
                    val => val === this.newPassword || 'Passwords must match'
                ]
            },
            hasError: false,
            success: false,
            error: ''
        }
    },
    methods: {
        async onSubmit() {
            if (!this.$refs.form.validate) {
                return
            }

            this.changePassword = true
            try {
                await changePassword(this.currentPassword, this.newPassword)

                this.hasError = false
                this.success = true

                this.$refs.form.reset()
                this.$nextTick(() => {
                    this.$refs.form.resetValidation()
                })
            } catch (e) {
                this.error = e.message
                this.hasError = true
            }
            this.changePassword = false
        }
    }
}
</script>
