<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h1 class="text-center my-2">
                    Messages
                </h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col v-show="hasChats" sm="3" cols="12">
                <h2 class="mb-2">
                    Your conversations:
                </h2>
                <div class="all-messages-container">
                    <template v-for="(chat, index) in allChats" :key="index">
                        <ChatPreview
                            @chat:select="selectChat"
                            :chat-uuid="chat.uuid"
                            :user-email="chat.receiverEmail"
                            :item-id="chat.itemId"
                        />
                    </template>
                </div>
            </v-col>
            <v-col sm="9" cols="12">
                <div class="user-chat-container" v-show="hasChats">
                    <UserChat :chat="displayedChat"  />
                </div>
                <div class="no-chats-placeholder" v-show="!hasChats">
                    <h2 ><v-icon>mdi-chat-minus</v-icon> You don't seem to have any messages..</h2>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { getChats } from '@/services/ChatService'
import ChatPreview from '@/components/ChatPreview'
import UserChat from '@/components/UserChat'
import store from '@/store/index'

export default {
    components: {
        ChatPreview,
        UserChat
    },
    props: {
        uuid: String
    },
    data: function() {
        return {
            displayedChat: null,
            allChats: []
        }
    },
    methods: {
        selectChat(chatUuid) {
            this.displayedChat = this.allChats.find(c => c.uuid === chatUuid)
        },
        getReceiverEmail(chat) {
            const currentUserEmail = store.getters['user/email']

            return chat.lessorEmail === currentUserEmail
                ? chat.initiatorEmail
                : chat.lessorEmail
        }
    },
    computed: {
        hasChats() {
            return this.allChats.length > 0
        }
    },
    async mounted() {
        const userChats = await getChats()
        this.allChats = userChats.map(c => {
            return {
                uuid: c.uuid,
                itemId: c.itemId,
                receiverEmail: this.getReceiverEmail(c)
            }
        })

        const initialChatUUID =
            this.uuid
                ? this.uuid
                : this.allChats[0].uuid

        this.selectChat(initialChatUUID)
    }
}
</script>

<style scoped>
.all-messages-container {
    overflow-y: scroll;
    height: 100%;
}

.no-chats-placeholder {
    padding-top: 60px;
}
</style>
