  <template>
    <div class="home">
        <v-container class="grey lighten-5">
            <v-form @submit.prevent="onSubmit"
                ref="form"
                lazy-validation
                id="register-form"
            >
        <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="10" class="mb-6">
                <h1 class="text-center">
                    Create new item
                </h1>
            </v-col>
            <v-col cols="1"></v-col>
        </v-row>
        <v-row>
            <v-col cols="1"></v-col>
            <v-col md="5" cols="12">
                <v-text-field
                    label="Title"
                    placeholder="Enter Product Name"
                    prepend-icon="mdi-account-outline"
                    type="text"
                    v-model="itemInfo.title"
                    variant="outlined"
                    :rules="rules.text"
                    required
                    clearable
                    data-testid="titleInputField"
                />
                <v-radio-group
                    class="ml-8"
                    v-model="displayAddressInput"
                    mandatory
                >
                    <v-radio
                        label="Use home address"
                        value='radio-1'
                        color="blue"
                    ></v-radio>
                    <v-radio
                        label="Specify address"
                        value='radio-2'
                        color="blue"
                    ></v-radio>
                </v-radio-group>
                <template v-if="displayAddressInput == 'radio-2'">
                    <v-text-field
                        label="Street"
                        placeholder="Enter StreetName"
                        prepend-icon="mdi-map-marker"
                        type="text"
                        v-model="itemInfo.address.street"
                        variant="outlined"
                        :rules="rules.street"
                        required
                        clearable
                        data-testid="locationInputField"
                    />
                    <v-text-field
                        label="PostalCode"
                        placeholder="Enter PostalCode"
                        prepend-icon="mdi-map-marker"
                        type="text"
                        v-model="itemInfo.address.postalCode"
                        variant="outlined"
                        :rules="rules.postalCode"
                        required
                        clearable
                        data-testid="locationInputField"
                    />
                </template>
                <template v-else>
                    <v-text-field
                        label="Street"
                        prepend-icon="mdi-map-marker"
                        v-model="defaultStreet"
                        variant="outlined"
                        disabled
                    />
                    <v-text-field
                        label="PostalCode"
                        prepend-icon="mdi-map-marker"
                        v-model="defaultPostalCode"
                        variant="outlined"
                        disabled
                    />
                </template>
                <v-text-field
                    label="Price"
                    placeholder="Enter desired Price"
                    prepend-icon="mdi-currency-usd"
                    type="tel"
                    v-model="itemInfo.price"
                    variant="outlined"
                    :rules="rules.price"
                    required
                    clearable
                    data-testid="priceInputField"
                />

                <v-select variant="outlined"
                    prepend-icon="mdi-apps"
                    v-model="itemInfo.priceUnit"
                    :items="priceUnits"
                    label="Price unit">
                </v-select>

                <v-select variant="outlined"
                    prepend-icon="mdi-apps"
                    v-model="itemInfo.category"
                    :items="categories"
                    label="Category">
                </v-select>

                <v-textarea
                    label="Description"
                    placeholder="Enter description about item"
                    prepend-icon="mdi-message-text"
                    type="text"
                    v-model="itemInfo.description"
                    variant="outlined"
                    :rules="rules.description"
                     required
                    clearable
                    data-testid="descriptionInputField"
                ></v-textarea>
            </v-col>
            <v-col md="5" cols="12">
                <v-file-input
                    class="mr-6"
                    v-model="inputPictures"
                    v-on:change="changeInputPictures"
                    label="Upload Images"
                    placeholder="Upload your pictures"
                    accept="image/png, image/jpeg"
                    required
                    variant="outlined"
                    multiple
                    show-size
                    prepend-icon='mdi-camera-outline'
                    data-testid='fileInputField'
                >
                </v-file-input >
                <template v-for="(pic, index) in formPictures" :key="index">
                    <ImageDescription
                        @deletePicture="deletePicture"
                        @customChange="descriptionChange"
                        :image="pic.data"
                        :title="pic.title"
                        :index="index"
                        :disabledInputt="pic.disabledInput"
                        :description="pic.description"
                        />
                </template>
                <v-card class="mx-12" flat>
                    <Datepicker
                    v-model="itemInfo.availableDates"
                    :monthChangeOnScroll="false"
                    inline range
                    :minDate="new Date()"
                    autoApply
                    />
                </v-card>
            </v-col>
            <v-col cols="1"></v-col>
        </v-row>
        <v-row>
            <v-col cols="1"></v-col>
            <v-row cols="10" justify="center" class="ma-3">
                <SpinnerButton
                    :spin="creating"
                    form="register-form"
                    color="#59f0b6"
                    type="submit"
                    class="ma-1"
                    elevation="1"
                    buttonText="Create Product"
                    size="large"
                    block
                />
                <v-btn
                    data-testid="reset-button"
                    color="#f0597c"
                    class="ma-1"
                    size="large"
                    block
                    @click="this.$router.go(-1)"
                >
                    Cancel
                </v-btn>
                </v-row>
                <v-col cols="1"></v-col>
                </v-row>
            <ConfirmationDialog
                v-model="openDialog"
                :dialogText="dialogText"
                :confirmationFunc="createFuncName"
                :confirmationButtonText="createButtonText"
                :cancelFunc="cancelFuncName"
                :cancelButtonText="cancelButtonText"
                @sendCreateItem="sendCreateItem()"
                @cancelCreate="cancelCreate()"
            />
            <ErrorDialog
                v-model="hasCreateError"
                title="Unable to create item"
                :message="createError"
            />
            </v-form>
        </v-container>
    </div>
</template>
<script>
import { createItem, addImageToItem, getCategories, getPriceUnits } from '@/services/ItemService.js'
import ImageDescription from '@/components/ImageDescription.vue'
import ConfirmationDialog from '@/components/ConfirmationDialog.vue'
import ErrorDialog from '@/components/ErrorDialog.vue'
import SpinnerButton from '@/components/SpinnerButton.vue'
import store from '@/store/index.js'
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'

export default {
    components: {
        ImageDescription,
        ConfirmationDialog,
        ErrorDialog,
        Datepicker,
        SpinnerButton
    },
    data: function() {
        return {
            name: 'CreateItemView',
            displayAddressInput: 'radio-1',
            defaultStreet: store.getters['user/street'],
            defaultPostalCode: store.getters['user/postalCode'],
            hasCreateError: false,
            createError: '',
            formIsValid: true,
            formPictures: [],
            priceUnits: [],
            categories: [],
            rules: {
                text: [
                    v => !!v || 'Title is required'
                ],
                price: [
                    v => v >= 0 || 'Invalid price input, Must be a positive number'
                ],
                description: [
                    v => !!v || 'Description about product is required'
                ],
                street: [
                    v => !!v || 'Location for product is required'
                ],
                postalCode: [
                    v => !!v || 'Location for product is required',
                    v => (String(v).length === 4) || 'Postal code must be 4 characters'
                ],
                priceUnit: [
                    v => !!v || 'Price Type field is required'
                ]
            },
            itemInfo: {
                title: '',
                address: {
                    street: store.getters['user/street'],
                    postalCode: store.getters['user/postalCode']
                },
                price: 0,
                priceUnit: '',
                availableDates: [new Date(), new Date(new Date().getTime() + (1 * 24 * 60 * 60 * 1000))],
                description: '',
                category: ''
            },
            inputPictures: [],
            openDialog: false,
            dialogText: 'Are you sure you want to create this item?',
            createButtonText: 'CREATE',
            cancelButtonText: 'Cancel',
            createFuncName: 'sendCreateItem',
            cancelFuncName: 'cancelCreate'
        }
    },
    async created() {
        try {
            this.categories = await getCategories()
            this.priceUnits = await getPriceUnits()
            this.updateCatAndPriceUnit()
        } catch (e) {
            this.hasCreateError = true
            this.createError = e.message
        }
    },
    methods: {
        updateCatAndPriceUnit() {
            if (this.categories && this.priceUnits) {
                this.itemInfo.category = this.categories[0]
                this.itemInfo.priceUnit = this.priceUnits[0]
            }
        },
        descriptionChange(data, content) {
            this.formPictures[content.index].description = data
        },
        deletePicture(content) {
            const i = content.index
            if (this.formPictures.length === 1) {
                this.formPictures = []
            }
            this.formPictures.splice(i, 1)
        },
        async changeInputPictures() {
            this.hasCreateError = false
            this.createError = null
            for (let i = 0; i < this.inputPictures.length; i++) {
                const blob = await this.loadFileFromBlob(this.inputPictures[i])
                this.formPictures.push(
                    {
                        index: i,
                        description: '',
                        data: blob,
                        imageId: null,
                        disabledInput: false,
                        itemId: 0
                    }
                )
            }
            this.inputPictures = []
        },
        loadFileFromBlob(blob) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader()
                reader.readAsDataURL(blob)
                reader.onloadend = () => {
                    resolve(reader.result)
                }
                reader.onerror = function() {
                    reject(new Error('unable to read blob ' + blob))
                }
            })
        },
        reset() {
            this.$refs.form.reset()
        },
        onSubmit() {
            if (this.formPictures.length === 0) {
                this.hasCreateError = true
                this.createError = 'Need to have atleast 1 picture connected to item'
            } else {
                this.openDialog = true
                this.creating = true
            }
        },
        async sendCreateItem() {
            let choosedAddress = null
            if (this.displayAddressInput === 'radio-2') {
                choosedAddress = {
                    street: this.itemInfo.address.street,
                    postalCode: this.itemInfo.address.postalCode
                }
            }
            const itemInfo = {
                title: this.itemInfo.title,
                address: choosedAddress,
                price: this.itemInfo.price,
                priceUnit: this.itemInfo.priceUnit,
                category: this.itemInfo.category,
                startTime: this.itemInfo.availableDates[0],
                endTime: this.itemInfo.availableDates[1],
                userEmail: store.getters['user/email'],
                description: this.itemInfo.description
            }
            try {
                this.openDialog = false
                const item = await createItem(itemInfo)
                if (item) {
                    await Promise.all(this.formPictures.map(x => addImageToItem({
                        ...x,
                        itemId: item.id
                    })))
                }
                await this.$router.push({ name: 'my-items' })
            } catch (error) {
                this.hasCreateError = true
                this.createError = error.message
            }
            this.creating = false
        },
        cancelCreate() {
            this.creating = false
            this.openDialog = false
        }
    }
}
</script>
