  <template>
    <div class="home">
        <v-container class="grey lighten-5">
            <v-form @submit.prevent="onSubmit"
                ref="form"
                lazy-validation
                id="register-form"
            >
                <v-row>
                    <v-col cols="12" class="mb-6">
                        <h1 class="text-center">
                            Edit '{{ editedItem.title }}'
                        </h1>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="1" />
                    <v-col md="5" cols="10">
                        <v-text-field
                            label="Title"
                            placeholder="Enter Product Name"
                            prepend-icon="mdi-account-outline"
                            type="text"
                            v-model="editedItem.title"
                            variant="outlined"
                            :rules="rules.text"
                            required
                            clearable
                            data-testid="titleInputField"
                        />
                        <v-radio-group
                            class="ml-8"
                            v-model="displayAddressInput"
                            mandatory
                        >
                            <v-radio
                                label="Use home address"
                                value='home-address'
                                color="blue"
                            />
                            <v-radio
                                label="Use custom address"
                                value='custom-address'
                                color="blue"
                            />
                        </v-radio-group>
                        <template v-if="displayAddressInput == 'custom-address'">
                            <v-text-field
                                label="Street"
                                placeholder="Enter StreetName"
                                prepend-icon="mdi-map-marker"
                                type="text"
                                v-model="editedItem.address.street"
                                variant="outlined"
                                :rules="rules.street"
                                required
                                clearable
                                data-testid="locationInputField"
                            />
                            <v-text-field
                                label="PostalCode"
                                placeholder="Enter PostalCode"
                                prepend-icon="mdi-map-marker"
                                type="text"
                                v-model="editedItem.address.postalCode"
                                variant="outlined"
                                :rules="rules.postalCode"
                                required
                                clearable
                                data-testid="locationInputField"
                            />
                        </template>
                        <template v-else>
                            <v-text-field
                                label="Street"
                                prepend-icon="mdi-map-marker"
                                v-model="DEFAULTSTREET"
                                variant="outlined"
                                disabled
                            />
                            <v-text-field
                                label="PostalCode"
                                prepend-icon="mdi-map-marker"
                                v-model="DEFAULTPOSTALCODE"
                                variant="outlined"
                                disabled
                            />
                        </template>
                        <v-text-field
                            label="Price"
                            placeholder="Enter desired Price"
                            prepend-icon="mdi-currency-usd"
                            type="tel"
                            v-model="editedItem.price"
                            variant="outlined"
                            :rules="rules.price"
                            required
                            clearable
                            data-testid="priceInputField"
                        />
                        <v-select variant="outlined"
                            prepend-icon="mdi-apps"
                            v-model="editedItem.priceUnit"
                            :items="PRICEUNITS"
                            label="Price unit"
                        />
                        <v-select variant="outlined"
                            prepend-icon="mdi-apps"
                            v-model="editedItem.category"
                            :items="CATEGORIES"
                            label="Category"
                        />
                        <v-textarea
                            label="Description"
                            placeholder="Enter description about item"
                            prepend-icon="mdi-message-text"
                            type="text"
                            v-model="editedItem.description"
                            variant="outlined"
                            :rules="rules.description"
                            required
                            clearable
                            data-testid="descriptionInputField"
                        />
                        <v-expand-transition>
                            <v-alert
                                v-model="hasEditError"
                                type="error"
                                elevation="1"
                                density="compact"
                                variant="contained-text"
                                rounded="b-lg"
                                closable
                            >
                                {{ editError }}
                            </v-alert>
                        </v-expand-transition>
                    </v-col>
                    <v-col md="5" cols="10">
                        <v-file-input
                            class="mr-6"
                            v-model="inputPictures"
                            v-on:change="changeInputPictures"
                            label="Upload Images"
                            placeholder="Upload your pictures"
                            accept="image/png, image/jpeg"
                            required
                            variant="outlined"
                            multiple
                            show-size
                            prepend-icon='mdi-camera-outline'
                            data-testid='fileInputField'
                        >
                            <template v-slot:selection='{ fileNames }'>
                                <template v-for="fileName in fileNames" :key="fileName">
                                    <v-chip
                                        size="small"
                                        data-testid="chipFileField"
                                        label
                                        color="primary"
                                        class="mr-2"
                                    >
                                        {{ fileName }}
                                    </v-chip>
                                </template>
                            </template>
                        </v-file-input>
                        <template v-for="(pic, index) in formPictures" :key="index">
                            <ImageDescription
                                data-testid="imageDescriptionField"
                                @deletePicture="deletePicture"
                                @customChange="descriptionChange"
                                :image="pic.data"
                                :title="pic.title"
                                :index="index"
                                :disabledInputt="pic.disabledInput"
                                :description="pic.description"
                            />
                        </template>
                        <v-card class="mx-12" flat>
                            <Datepicker
                            v-model="editedDates"
                            :monthChangeOnScroll="false"
                            inline
                            range
                            :minDate="new Date()"
                            autoApply />
                        </v-card>
                    </v-col>
                    <v-col cols="1" />
                </v-row>
                <v-row>
                    <v-col cols="1" />
                    <v-col cols="10" justify="center" class="ma-3">
                        <SpinnerButton
                            :spin="saving"
                            form="register-form"
                            color="#59f0b6"
                            type="submit"
                            class="my-2"
                            elevation="1"
                            size="large"
                            buttonText="Save"
                            block
                        />
                        <ConfirmationDialog
                            v-model="openDialog"
                            :dialogText="dialogText"
                            :confirmationFunc="editFuncName"
                            :confirmationButtonText="saveButtonText"
                            :cancelFunc="cancelFuncName"
                            :cancelButtonText="cancelButtonText"
                            @sendEditItem="sendEditItem()"
                            @cancelEdit="cancelEdit()"
                        />
                        <v-btn
                            data-testid="reset-button"
                            @click="cancel()"
                            color="#f0597c"
                            class="my-2"
                            size="large"
                            block
                        >
                            Cancel
                        </v-btn>
                    </v-col>
                    <v-col cols="1" />
                </v-row>
            </v-form>
        </v-container>
    </div>
</template>
<script>
import {
    getItem,
    updateItem,
    getCategories,
    getPriceUnits,
    getItemImage,
    addImageToItem,
    deleteImageToItem
} from '@/services/ItemService.js'
import ImageDescription from '@/components/ImageDescription.vue'
import SpinnerButton from '@/components/SpinnerButton.vue'
import Datepicker from '@vuepic/vue-datepicker'
import ConfirmationDialog from '@/components/ConfirmationDialog.vue'
import store from '@/store/index.js'
import '@vuepic/vue-datepicker/dist/main.css'

export default {
    name: 'EditItemView',
    components: {
        ImageDescription,
        ConfirmationDialog,
        Datepicker,
        SpinnerButton
    },
    async created() {
        try {
            this.CATEGORIES = await getCategories()
            this.PRICEUNITS = await getPriceUnits()
            this.ORIGINALITEM = await getItem(this.id)
        } catch (e) {
            this.hasEditError = true
            this.editError = e.message
        }
        await this.handleImportImages()
        this.editedItem = this.ORIGINALITEM
        this.formPictures = this.originalPictures
        this.editedDates = [this.editedItem.startTime, this.editedItem.endTime]
        this.checkItemAddress()
    },
    props: ['id'],
    data: function() {
        return {
            saving: false,
            displayAddressInput: '',
            DEFAULTSTREET: store.getters['user/street'],
            DEFAULTPOSTALCODE: store.getters['user/postalCode'],
            PRICEUNITS: [],
            formPictures: [],
            CATEGORIES: [],
            ORIGINALITEM: {},
            ORIGINALDATES: [],

            rules: {
                text: [
                    v => !!v || 'Title is required'
                ],
                price: [
                    v => v >= 0 || 'Invalid price input, Must be a positive number'
                ],
                description: [
                    v => !!v || 'Description about product is required'
                ],
                postalCode: [
                    v => (String(v).length === 4) || 'Postal code must be 4 characters',
                    v => !!v || 'Location for product is required'
                ],
                priceUnit: [
                    v => !!v || 'Price Type field is required'
                ]
            },
            originalPictures: [],
            editedItem: {},
            editedDates: [],
            inputPictures: [],
            deletedOriginals: [],
            picInfo: [],

            openDialog: false,
            dialogText: 'Are you sure you want to save these changes?',
            saveButtonText: 'SAVE',
            cancelButtonText: 'CANCEL',
            editFuncName: 'sendEditItem',
            cancelFuncName: 'cancelEdit',

            hasEditError: false,
            editError: ''
        }
    },
    methods: {
        descriptionChange(data, content) {
            this.formPictures[content.index].description = data
        },
        deletePicture(content) {
            if (this.formPictures[content.index].imageId) {
                this.deletedOriginals.push(this.formPictures[content.index].imageId)
            }
            const i = content.index
            this.formPictures.splice(i, 1)
        },
        async changeInputPictures() {
            this.hasEditError = false
            this.editError = null
            for (let i = 0; i < this.inputPictures.length; i++) {
                const formPictureLenght = this.formPictures.length
                const blob = await this.loadFileFromBlob(this.inputPictures[i])
                this.formPictures.push(
                    {
                        index: formPictureLenght,
                        description: '',
                        data: blob,
                        imageId: null,
                        disabledInput: false,
                        itemId: this.ORIGINALITEM.id
                    }
                )
            }
            this.inputPictures = []
        },
        cancel() {
            this.$router.go(-1)
        },
        onSubmit() {
            if (this.formPictures.length === 0) {
                this.hasEditError = true
                this.editError = 'Need to have atleast 1 picture connected to item'
            } else {
                this.saving = true
                this.openDialog = true
            }
        },
        async sendEditItem() {
            this.openDialog = false
            let chosenAddress = null
            if (this.displayAddressInput === 'custom-address') {
                chosenAddress = {
                    street: this.editedItem.address.street,
                    postalCode: this.editedItem.address.postalCode
                }
            }
            const editedItem = {
                id: this.editedItem.id,
                title: this.editedItem.title,
                address: chosenAddress,
                price: this.editedItem.price,
                priceUnit: this.editedItem.priceUnit,
                category: this.editedItem.category,
                startTime: this.editedDates[0],
                endTime: this.editedDates[1],
                userEmail: store.getters['user/email'],
                description: this.editedItem.description
            }
            try {
                await updateItem(editedItem, this.editedItem.id)
                for (const element of this.formPictures) {
                    if (!element.imageId) {
                        await addImageToItem(element)
                    }
                }
            } catch (e) {
                this.hasEditError = true
                this.editError = e.message
            }

            try {
                for (const element of this.deletedOriginals) {
                    await deleteImageToItem(this.ORIGINALITEM.id, element)
                }
            } catch (e) {
                this.hasEditError = true
                this.editError = e.message
            }
            this.saving = false
            this.$router.push({ name: 'my-items' })
        },
        cancelEdit() {
            this.saving = false
            this.openDialog = false
        },
        checkItemAddress() {
            if (this.editedItem.address.postalCode !== this.DEFAULTPOSTALCODE) {
                this.displayAddressInput = 'custom-address'
            } else {
                this.displayAddressInput = 'home-address'
            }
        },
        async dataUrlToFile(dataUrl, fileName, filetype) {
            const res = await fetch(dataUrl)
            const blob = await res.blob()
            return new File([blob], fileName, { type: filetype })
        },
        async handleImportImages() {
            for (let i = 0; i < this.ORIGINALITEM.imageIds.length; i++) {
                try {
                    const image = await getItemImage(this.id, this.ORIGINALITEM.imageIds[i])
                    const boo = {
                        index: i,
                        imageId: image.id,
                        description: image.description,
                        data: image.data,
                        disabledInput: true,
                        itemId: this.ORIGINALITEM.id
                    }
                    this.originalPictures.push(boo)
                } catch (e) {
                    console.error(e)
                }
            }
            this.formPictures = this.originalPictures
        },
        loadFileFromBlob(blob) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader()
                reader.readAsDataURL(blob)
                reader.onloadend = () => {
                    resolve(reader.result)
                }
                reader.onerror = function() {
                    reject(new Error('unable to read blob ' + blob))
                }
            })
        }
    }
}
</script>
