<template>
    <v-container>
        <v-row class="mt-5">
            <v-col>
            </v-col>
                <v-col class=" text-center ">
                    <h1>404 Page not found!!</h1>
                    <br />
                    <h2>This page has not been implemented yet</h2>
                </v-col>
            <v-col>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: 'ForgotPassword'

}
</script>

<style>

</style>
