<template>
  <v-alert
    v-if="fetchError"
    type="error"
  >{{ fetchError }}</v-alert>
  <ItemContainer v-else @fetchError="setError()"></ItemContainer>
</template>

<script>
import ItemContainer from '@/components/ItemContainer'

export default {
    name: 'HomeView',
    components: {
        ItemContainer
    },
    data() {
        return {
            fetchError: ''
        }
    },
    methods: {
        setError(error) {
            this.fetchError = error
        }
    }
}
</script>
