<template>
  <v-alert
    v-if="isFetchDataError"
    type="error"
  >{{ fetchDataError }}</v-alert>
  <v-row v-else-if="!isFetchDataError && !user" class="justify-center mt-5">
      <v-progress-circular indeterminate class="pa-2" color="white"/>
  </v-row>
  <v-container v-if="user">
    <v-row dense justify="start">
      <v-col cols="12">
        <h1 class="text-center">
            {{ item.title }}
        </h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="1" />
      <v-col cols="10">
      <v-row justify="start">
        <v-col sm="6" cols="12">
          <v-carousel
            height="auto"
            width="full"
            show-arrows="hover"
            rounded class="rounded my-4"
            hide-delimiter-background
            delimiter-icon="mdi-checkbox-blank-circle-outline">
            <v-carousel-item v-for="(image, id) in images" :key="id">
              <v-img
                aspect-ratio="1"
                class="carousel-image rounded bg-grey-lighten-3"
                lazy-src="@/assets/bocoplaceholdergrey.png"
                :src="image.data" :alt="image.description">
              </v-img>
            </v-carousel-item>
          </v-carousel>
          <h2>Product description</h2>
          {{ item.description }}
        </v-col>
        <v-col sm="6" cols="12">
            <UserDetailsCard class="mt-4" v-if="user" :user="user"></UserDetailsCard>

            <v-btn
                class="mt-4 mb-2"
                size="large"
                block
                color="#F06292"
                :disabled="isOwnedByCurrentUser"
                :to=" { name: 'rent-item', params: { id: this.id } }"> RENT: <h2> {{ item.price }} / day</h2>
            </v-btn>

          <v-btn
            class="mt-4 mb-2"
            size="large"
            block color="#8c84e8"
            :disabled="isOwnedByCurrentUser"
            @click="messageOwner">
            <span>Message owner</span>
          </v-btn>
          Available from <b> {{ dateToString(item.startTime) }} </b> to <b> {{ dateToString(item.endTime) }} </b> <br> <br>
          <b> Location: {{ item.address.postalCode }} </b>
          <v-card rounded class="my-1">
              <GmapEmbed :searchOption="mapSearchOption" :address="item.address" />
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="1" />
    </v-row>
  </v-container>
</template>

<script>
import { getItem, getItemImage } from '@/services/ItemService.js'
import { translateDateToString } from '@/util/ToString'
import { MapSearchOption } from '@/util/Enums'
import { createChat, getChat, ChatAlreadyExistsError } from '@/services/ChatService'
import GmapEmbed from '@/components/GmapEmbedded.vue'

import store from '@/store/index.js'
import { getUserdataByEmail } from '@/services/UserService'
import UserDetailsCard from '@/components/UserDetailsCard'

export default {
    name: 'ItemView',
    components: {
        UserDetailsCard,
        GmapEmbed
    },
    props: ['id'],
    data() {
        return {
            images: [0],
            item: null,
            user: null,
            fetchDataError: '',
            isFetchDataError: false
        }
    },
    async beforeCreate() {
        try {
            this.item = await getItem(this.id)

            this.user = await getUserdataByEmail(this.item.userEmail)

            for (let i = 0; i < this.item.imageIds.length; i++) {
                this.images[i] = {
                    description: 'loading...',
                    data: 0,
                    id: this.item.imageIds[i]
                }

                getItemImage(this.id, this.item.imageIds[i])
                    .then((image) => {
                        this.images[i] = image
                    })
                    .catch(e => { console.error('Unable to load picture', e) })
            }
        } catch (e) {
            console.error('Unable to load item', e)
            this.fetchDataError = e.message
            this.isFetchDataError = true
        }
    },
    computed: {
        isOwnedByCurrentUser: function() {
            return store.getters['user/email'] === this.item.userEmail
        },
        mapSearchOption() {
            return MapSearchOption.POSTALAREA
        }
    },
    methods: {
        dateToString(date) {
            return translateDateToString(date)
        },
        messageOwner() {
            const chatInfo = {
                itemId: this.item.id,
                lessorEmail: this.item.userEmail,
                initiatorEmail: store.getters['user/email']
            }

            createChat(chatInfo)
                .then((response) => {
                    this.$router.push({ name: 'messages', params: { uuid: response.uuid } })
                })
                .catch((e) => {
                    if (e instanceof ChatAlreadyExistsError) {
                        getChat(chatInfo.itemId)
                            .then((response) => {
                                this.$router.push({ name: 'messages', params: { uuid: response.uuid } })
                            })
                    } else {
                        this.fetchDataError = e.message
                        this.isFetchDataError = true
                    }
                })
        }
    }
}
</script>

<style scoped>
.carousel-image {
  max-height: 400px;
}
</style>
