<template>
    <v-container>
        <v-row justify="center">
            <v-col cols=11 sm=6>
                <h2>Login</h2>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col cols=11 sm=6>
                <v-form
                @submit.prevent="onSubmit"
                id="login-form"
                ref="form">
                <v-text-field
                        v-model="email"
                        label="E-mail"
                        placeholder="Login E-mail"
                        prepend-icon="mdi-email-outline"
                        type="email"
                        variant="outlined"
                        :rules="rules.email"
                        data-testid="emailField"
                        required
                        clearable
                    />
                    <v-text-field
                        v-model="password"
                        label="Password"
                        placeholder="Enter new password"
                        prepend-icon="mdi-lock-outline"
                        type="password"
                        variant="outlined"
                        :rules="rules.password"
                        data-testid="passwordField"
                        required
                        clearable
                    />
                    <SpinnerButton
                        :spin="loggingIn"
                        form="login-form"
                        buttonText="Login"
                        type="submit"
                        data-testid="login-submit"
                        elevation="1"
                        color="#F06292"
                        size="large"
                        block
                    />
                    <v-expand-transition>
                        <v-alert
                            v-model="hasLoginError"
                            type="error"
                            elevation="1"
                            density="compact"
                            variant="contained-text"
                            rounded="b-lg"
                            closable
                        >
                        {{ loginError }}
                        </v-alert>
                    </v-expand-transition>
                </v-form>
            </v-col>
        </v-row>

        <br />

        <v-row justify="center">
            <v-col cols=11 sm=6>
                <router-link :to="{ name: 'register' }">Register an account</router-link>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col cols=11 sm=6>
                <router-link :to="{ name: 'forgotPassword' }">Forgot password</router-link>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import store from '@/store/index'
import SpinnerButton from '@/components/SpinnerButton.vue'

export default {
    name: 'LoginView',
    components: {
        SpinnerButton
    },
    data: function() {
        return {
            hasLoginError: null,
            loggingIn: false,
            email: '',
            password: '',
            rules: {
                email: [
                    val => !!val || 'Email is required',
                    val => /.+@.+\..+/.test(val) || 'Invalid e-mail'
                ],
                password: [
                    val => !!val || 'Password is required'
                ]
            }
        }
    },
    methods: {
        async onSubmit() {
            if (!this.$refs.form.validate) {
                return
            }

            const userCredentials = {
                email: this.email,
                password: this.password
            }

            this.loggingIn = true
            try {
                await store.dispatch('authentication/login', userCredentials)
                await store.dispatch('user/retrieveData')
                await this.$router.push('/')
            } catch (e) {
                this.loginError = e.message
                this.hasLoginError = true
            }
            this.loggingIn = false
        }
    }
}
</script>
<style scoped>
</style>
