<template>
  <v-alert
    v-if="isFetchDataError"
    type="error"
    >{{ fetchDataError }}
  </v-alert>
  <v-container v-else>
    <v-col cols="12">
      <h1 class="text-center mb-4">
        My items
      </h1>
    </v-col>
    <FilterMenu
        debounceMs=600
        @doSearch="updateSearch"
        @sort:changed="changeSort"
        @category:changed="changeCategory"
        :searchValue="searchInput"
    />
    <v-row class="justify-center">
        <v-progress-circular v-if="loading" class="pa-2" indeterminate color="white"/>
        <p v-else-if="!items.size" class="justify-center">No items found...</p>
    </v-row>
    <v-row dense justify="start">
        <v-col cols="12">
            <MyItemCard v-for="[id, item] in items" :key="id" :item="item" @openDeleteDialog="openDeleteDialog"/>
            <ConfirmationDialog
                v-model="openDialog"
                :dialogText="dialogText"
                :confirmationFunc="deleteFuncName"
                :confirmationButtonText="deleteButtonText"
                :cancelFunc="cancelFuncName"
                :cancelButtonText="cancelButtonText"
                @deleteItem="deleteItem()"
                @cancelDelete="cancelDelete()"
            />
            <ErrorDialog
                v-model="hasDeleteError"
                title="Unable to delete your item"
                :message="deleteError"
            />
        </v-col>
    </v-row>
    <v-pagination
      v-model="page"
      :length="length"
      v-show="!loading"
    ></v-pagination>
  </v-container>
</template>

<script>
import MyItemCard from '@/components/MyItemCard.vue'
import FilterMenu from '@/components/FilterMenu.vue'
import { deleteItem, getItems } from '@/services/ItemService.js'
import store from '@/store/index'
import ConfirmationDialog from '@/components/ConfirmationDialog.vue'
import ErrorDialog from '@/components/ErrorDialog.vue'

export default {
    name: 'MyItemsView',
    components: {
        MyItemCard,
        FilterMenu,
        ConfirmationDialog,
        ErrorDialog
    },
    data() {
        return {
            loading: true,

            items: new Map(),

            fetchDataError: '',
            isFetchDataError: false,

            openDialog: false,
            dialogText: 'Are you sure you want to delete this item?',
            deleteButtonText: 'DELETE',
            cancelButtonText: 'Cancel',
            deleteFuncName: 'deleteItem',
            cancelFuncName: 'cancelDelete',
            itemIdToDelete: {},
            limit: '7',
            page: 1,
            length: 0,
            search: '',
            sort: {},
            category: '',

            hasDeleteError: false,
            deleteError: ''
        }
    },
    watch: {
        limit() { this.updateItems() },
        page() { this.updateItems() },
        sort() { this.updateItems() },
        category() { this.updateItems() },
        search() { this.updateItems() },
        email() { this.updateItems() }
    },
    created() {
        if (!this.email) return
        this.updateItems()
    },
    methods: {
        updateItems() {
            return getItems({
                limit: this.limit,
                page: this.page - 1,
                sort: this.sort.by,
                sortDir: this.sort.order,
                category: this.category,
                search: this.search,
                email: this.email
            }).then(items => {
                this.loading = false
                items.content.forEach(item => {
                    this.items.set(item.id, item)
                })
                this.page = items.pageNo + 1
                this.length = items.totalPages
            }).catch(e => {
                this.fetchDataError = e.message
                this.hasFetchDataError = true
            })
        },
        changeSort(sort) {
            this.sort = sort
        },
        changeCategory(category) {
            this.category = category
        },
        openDeleteDialog(id) {
            this.itemIdToDelete = id
            this.openDialog = true
        },
        updateSearch(search) {
            this.page = 1
            this.search = search
        },
        async deleteItem() {
            this.openDialog = false
            try {
                await deleteItem(this.itemIdToDelete)
                if (!this.items.delete(this.itemIdToDelete)) {
                // Refresh page if items was not updated/re-rendered
                    this.$router.go()
                }
            } catch (e) {
                this.hasDeleteError = true
                this.deleteError = e.message
            }

            this.itemIdToDelete = {}
        },
        cancelDelete() {
            this.itemIdToDelete = {}
            this.openDialog = false
        }
    },
    computed: {
        email() {
            return store.getters['user/email']
        }
    }
}
</script>
