<template>
<v-container>
    <v-row justify="center">
        <v-col cols=11 sm=6>
            <h2>Register</h2>
        </v-col>
    </v-row>

    <v-row justify="center">
        <v-col cols=11 sm=8 md=6>
            <v-form
                @submit.prevent="onSubmit"
                id="register-form"
                ref="form"
            >
                <v-text-field
                    v-model="firstName"
                    label="First name"
                    placeholder="Enter your first name"
                    prepend-icon="mdi-account-outline"
                    type="text"
                    variant="outlined"
                    :rules="rules.name"
                    data-testid="firstNameField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="lastName"
                    label="Last name"
                    placeholder="Enter your last name"
                    prepend-icon="mdi-account"
                    type="text"
                    variant="outlined"
                    :rules="rules.name"
                    data-testid="lastNameField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="email"
                    label="E-mail"
                    placeholder="Enter your e-mail"
                    prepend-icon="mdi-email-outline"
                    type="email"
                    variant="outlined"
                    :rules="rules.email"
                    data-testid="emailField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="streetName"
                    label="Address"
                    placeholder="Enter your address"
                    prepend-icon="mdi-map-marker-outline"
                    type="text"
                    variant="outlined"
                    :rules="rules.address"
                    data-testid="addressField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="postalCode"
                    label="Zip code"
                    placeholder="Enter your zip code"
                    prepend-icon="mdi-map-marker"
                    type="text"
                    variant="outlined"
                    :rules="rules.postalCode"
                    data-testid="zipField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="password"
                    label="Password"
                    placeholder="Enter your password"
                    prepend-icon="mdi-lock-outline"
                    type="password"
                    variant="outlined"
                    :rules="rules.password"
                    data-testid="passwordField"
                    required
                    clearable
                />

                <v-text-field
                    v-model="repeatPassword"
                    label="Repeat password"
                    placeholder="Repeat your password"
                    prepend-icon="mdi-lock"
                    type="password"
                    variant="outlined"
                    :rules="rules.repeatPassword"
                    data-testid="repeatPasswordField"
                    required
                    clearable
                />

                <v-checkbox v-model="agreesToPrivacyPolicy" :rules="rules.privacyPolicy">
                    <template v-slot:label>
                        <div>
                            I agree to BOCO's
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <router-link :to="{ name: 'privacy-policy' }" target="_blank" v-on="on">
                                        privacy policy
                                    </router-link>
                                </template>
                                Opens in a new tab
                        </v-tooltip>
                        .
                        </div>
                    </template>
                </v-checkbox>

                <SpinnerButton
                    :spin="registrating"
                    form="register-form"
                    color="#F06292"
                    type="submit"
                    elevation="1"
                    size="large"
                    buttonText="Register"
                    block
                />

                <v-expand-transition>
                    <v-alert
                        v-model="hasRegistrationError"
                        type="error"
                        elevation="1"
                        density="compact"
                        variant="contained-text"
                        rounded="b-lg"
                        closable
                    >
                        {{ registrationError }}
                    </v-alert>
                </v-expand-transition>
            </v-form>
        </v-col>
    </v-row>

    <br />

    <v-row justify="center">
        <v-col cols=11 sm=6>
            <router-link :to="{ name: 'login' }">Log in with an existing user</router-link>
        </v-col>
    </v-row>

    <v-row justify="center">
        <v-col cols=11 sm=6>
            <router-link :to="{ name: 'forgotPassword' }">
                Forgot password
            </router-link>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
import { register } from '@/services/UserService.js'
import SpinnerButton from '@/components/SpinnerButton.vue'

export default {
    name: 'RegisterView',
    components: {
        SpinnerButton
    },
    data: function() {
        return {
            registrating: false,
            hasRegistrationError: false,
            registrationError: '',
            firstName: '',
            lastName: '',
            email: '',
            streetName: '',
            postalCode: '',
            password: '',
            repeatPassword: '',
            agreesToPrivacyPolicy: false,
            rules: {
                name: [
                    val => !!val || 'Name is required'
                ],
                email: [
                    val => !!val || 'E-mail is required',
                    val => /.+@.+\..+/.test(val) || 'Invalid e-mail'
                ],
                address: [
                    val => !!val || 'Address is required'
                ],
                postalCode: [
                    val => !!val || 'Postal code is required',
                    val => val.length === 4 || 'Postal code must be exactly 4 characters',
                    val => !isNaN(val) || 'Postal code must be a number'
                ],
                password: [
                    val => !!val || 'Password is required',
                    val => /\d/.test(val) || 'Password must contain at least one number',
                    val => val.length >= 6 || 'Password must be at least 6 characters long'
                ],
                repeatPassword: [
                    val => !!val || 'You must repeat your password',
                    val => val === this.password || 'Passwords must match'
                ],
                privacyPolicy: [
                    val => !!val || 'You must agree to our privacy policy to use our service'
                ]
            }
        }
    },
    methods: {
        async onSubmit() {
            if (!this.$refs.form.validate) {
                return
            }
            this.registrating = true
            const userInfo = {
                firstName: this.firstName,
                lastName: this.lastName,
                email: this.email,
                address: {
                    street: this.streetName,
                    postalCode: this.postalCode
                },
                password: this.password
            }

            try {
                const user = await register(userInfo)
                if (user) {
                    await this.$store.dispatch('authentication/login', { email: userInfo.email, password: this.password })
                    await this.$store.dispatch('user/retrieveData')
                    await this.$router.push('/')
                }
            } catch (e) {
                this.registrationError = e.message
                this.hasRegistrationError = true
            }
            this.registrating = false
        }
    }
}
</script>

<style scoped>
</style>
