<template>
  <v-alert
    v-if="isFetchDataError"
    type="error"
  >{{ fetchDataError }}</v-alert>
  <v-container v-else>
    <v-row>
        <v-col cols="12" class="mb-6" order="1">
            <h1 class="text-center">
                Rent {{ item.title }}
            </h1>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="1" />
        <v-col cols="10">
            <v-row>
                <v-col sm="6" cols="12" order="3" order-sm="2">
                <v-carousel
                    height="auto"
                    width="full"
                    show-arrows="hover"
                    rounded class="rounded mb-4"
                    hide-delimiter-background
                    v-if="images.length"
                    delimiter-icon="mdi-checkbox-blank-circle-outline">
                    <v-carousel-item
                        v-for="(image,i) in images"
                        :key="i"
                    >
                        <v-img
                            :src="image.data" :alt="image.description"
                            aspect-ratio="1"
                            class="carousel-image rounded bg-grey-lighten-3"
                            lazy-src="@/assets/bocoplaceholdergrey.png">
                        </v-img>
                    </v-carousel-item>
                </v-carousel>
                <h2> Product desciption </h2>
                {{ item.description }} <br> <br>
                Item located in: <b> {{ item.address.street }} </b>
                <v-card rounded>
                    <GmapEmbed :searchOption="mapSearchOption" :address="item.address" />
                </v-card>
                </v-col>
                <v-col sm="6" cols="12" order="2" order-sm="3">
                    Available from <b> {{ dateToString(item.startTime) }} </b>
                    to <b> {{ dateToString(item.endTime) }} </b> <br> <br>
                    <h3>Pick time for lease: </h3>
                    <v-form @submit.prevent="onSubmit"
                        ref="form"
                        lazy-validation
                        id="rent-form"
                    >
                        <v-card flat>
                            <Datepicker
                            class="my-4"
                            v-model="period"
                            :disabledDates="disabledDates"
                            :minDate="new Date()"
                            :maxDate="this.item.endTime"
                            :monthChangeOnScroll="false"
                            inline
                            width="auto"
                            range
                            autoApply
                            />
                        </v-card>
                        <v-textarea
                            class="my-4"
                            hide-details="auto"
                            auto-grow
                            label="Comment"
                            placeholder="Enter comment about lease"
                            type="text"
                            v-model="comment"
                            variant="outlined"
                            clearable
                        ></v-textarea>
                        <SpinnerButton
                            :spin="renting"
                            form="rent-form"
                            buttonText="Rent Item"
                            type="submit"
                            elevation="1"
                            color="#59f0b6"
                            size="large"
                            block
                            classes="my-2"
                            @click.prevent="openRentDialog"
                        />
                        <ConfirmationDialog
                            v-model="openDialog"
                            :dialogText="dialogText"
                            :confirmationFunc="rentFuncName"
                            :confirmationButtonText="confirmButtonText"
                            :cancelFunc="cancelFuncName"
                            :cancelButtonText="cancelButtonText"
                            @rentItem="rentItem()"
                            @cancelRentItem="cancelRentItem()"
                        />
                        <v-btn
                            @click="this.$router.go(-1)"
                            elevation="1"
                            color="#f0597c"
                            class="my-2"
                            size="large"
                            block
                        >
                            Cancel
                        </v-btn>
                        <v-expand-transition>
                            <v-alert
                                v-model="hasLeasePeriodError"
                                type="error"
                                elevation="1"
                                density="compact"
                                variant="contained-text"
                                rounded="b-lg"
                                closable
                            >
                                {{ leasePeriodError }}
                            </v-alert>
                        </v-expand-transition>
                    </v-form>
                </v-col>
            </v-row>
        </v-col>
        <v-col cols="1" />
    </v-row>
  </v-container>
</template>

<script>
import { getItem, getItemImage, getLeasedItemDateFrames } from '@/services/ItemService.js'
import { createLease } from '@/services/LeaseService.js'
import { createChat, getChat, ChatAlreadyExistsError, sendLeaseNotice } from '@/services/ChatService'
import { translateDateToString } from '@/util/ToString'
import ConfirmationDialog from '@/components/ConfirmationDialog.vue'
import SpinnerButton from '@/components/SpinnerButton.vue'
import { MapSearchOption } from '@/util/Enums'
import GmapEmbed from '@/components/GmapEmbedded.vue'

import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
import store from '@/store/index.js'

export default {
    components: {
        Datepicker,
        ConfirmationDialog,
        GmapEmbed,
        SpinnerButton
    },
    name: 'RentItemView',
    props: ['id'],
    data() {
        return {
            renting: false,
            item: {
                address: { street: '', postalCode: '' }
            },
            period: [],
            disabledDates: [],
            comment: '',
            images: [],

            fetchDataError: '',
            isFetchDataError: false,

            openDialog: false,
            dialogText: 'By renting this item, you agree to our terms of service: ~insert-link-here~',
            confirmButtonText: 'CONFIRM RENT',
            cancelButtonText: 'Cancel',
            rentFuncName: 'rentItem',
            cancelFuncName: 'cancelRentItem',

            leasePeriodError: '',
            hasLeasePeriodError: false
        }
    },
    async beforeCreate() {
        try {
            this.item = await getItem(this.id)

            const busyDates = await getLeasedItemDateFrames(this.item.id)
            for (let i = 0; i < busyDates.length; i++) {
                for (let date = new Date(busyDates[i].startTime); date <= new Date(busyDates[i].endTime); date.setDate(date.getDate() + 1)) {
                    this.disabledDates.push(new Date(date))
                }
            }

            for (let i = 0; i < this.item.imageIds.length; i++) {
                try {
                    const image = await getItemImage(this.item.id, this.item.imageIds[i])
                    this.images.push(image)
                } catch (e) {
                    console.error(e)
                }
            }
        } catch (e) {
            this.fetchDataError = e.message
            this.isFetchDataError = true
        }
    },
    computed: {
        mapSearchOption() {
            return MapSearchOption.POSTALAREA
        }
    },
    methods: {
        openRentDialog() {
            // Hinders the user from picking a period over another users period.
            const failedDate = this.disabledDates.find(disabledDate => (this.period[0] < disabledDate && this.period[1] > disabledDate))
            if (failedDate) {
                this.leasePeriodError = `This item is already rented on the date: ${translateDateToString(failedDate)}. Please choose another period to rent over.`
                this.hasLeasePeriodError = true
                return
            }
            this.renting = true
            this.openDialog = true
        },
        async rentItem() {
            this.openDialog = false
            await this.onSubmit()
        },
        cancelRentItem() {
            this.renting = false
            this.openDialog = false
        },
        async onSubmit() {
            const lease = {
                lesseeEmail: store.getters['user/email'],
                itemId: this.id,
                comment: this.comment,
                startTime: this.period[0],
                endTime: this.period[1]
            }
            try {
                await createLease(lease)
            } catch (e) {
                this.fetchDataError = e.message
                this.isFetchDataError = true
            }

            const leaseNotice = `${store.getters['user/firstName']} ${store.getters['user/lastName']} agreed to lease ${this.item.title} from ${translateDateToString(lease.startTime)} to ${translateDateToString(lease.endTime)}. Further details can be discussed in this chat, or other agreed upon channels. Comment from lease: ${lease.comment}`
            const chatInfo = {
                itemId: this.item.id,
                lessorEmail: this.item.userEmail,
                initiatorEmail: store.getters['user/email']
            }
            try {
                const chat = await createChat(chatInfo)
                await sendLeaseNotice(leaseNotice, chat.uuid)
                this.$router.push({ name: 'messages', params: { uuid: chat.uuid } })
            } catch (e) {
                if (e instanceof ChatAlreadyExistsError) {
                    try {
                        const chat = await getChat(chatInfo.itemId)
                        await sendLeaseNotice(leaseNotice, chat.uuid)
                        this.$router.push({ name: 'messages', params: { uuid: chat.uuid } })
                    } catch (e) {
                        this.fetchDataError = e.message
                        this.isFetchDataError = true
                    }
                } else {
                    this.fetchDataError = e.message
                    this.isFetchDataError = true
                }
            }
            this.renting = true
        },
        dateToString(date) {
            return translateDateToString(date)
        }
    }
}
</script>

<style scoped>
.carousel-image {
  max-height: 400px;
}
</style>
