<template>
<div v-if="user">
    <v-card class="dp__time_display">
        <v-avatar size="65" color="red" class="ma-2">
            {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
        </v-avatar>
        <h2>
            {{ user.firstName }} {{ user.lastName }}
        </h2> <br>
        <v-chip v-if="isCurrentUser" color="green" class="ma-3">You</v-chip>
    </v-card>
    <v-card-title>{{ text }}</v-card-title>
    <ItemContainer :filter="user.email" v-if="user"></ItemContainer>
</div>
</template>

<script>
import { getUserdataById } from '@/services/UserService'
import ItemContainer from '@/components/ItemContainer'
import store from '@/store'

export default {
    name: 'UserDetailsView',
    components: { ItemContainer },
    props: ['id'],
    computed: {
        text() {
            const name = this.user.firstName
            return name + '\'' + (name.charAt(name.length - 1) !== 's' ? 's' : '') + ' active items'
        },
        isCurrentUser: function() {
            return store.getters['user/email'] === this.user.email
        }

    },
    data() {
        return {
            user: null
        }
    },
    async created() {
        this.user = await getUserdataById(this.id)
    }
}
</script>
