<template>
    <v-overlay
      v-model="edit"
      class="justify-center align-center"
    >
        <v-card max-width="500" class="pa-10">
            <h1>Edit account information</h1>
            <v-form @submit.prevent="onSubmit" id="edit-user-form" ref="form">
                <v-row v-for="field in fields" :key="field" justify="center">
                    <v-col>
                    <v-text-field
                        v-model="field.prop"
                        :rules="field.rule"
                        :label="field.label"
                        :prepend-icon="field.icon"
                        variant="outlined"
                        required
                        clearable
                    ></v-text-field>
                    </v-col>
                </v-row>
                 <v-expand-transition>
                    <v-alert
                        v-model="hasSetUserError"
                        type="error"
                        elevation="1"
                        density="compact"
                        variant="contained-text"
                        rounded="b-lg"
                        closable
                    >
                        {{ setUserError }}
                    </v-alert>
                </v-expand-transition>
            </v-form>
            <v-row justify="center">
                <SpinnerButton
                    :spin="submitting"
                    form="edit-user-form"
                    color="green"
                    type="submit"
                    class="mx-10"
                    elevation="1"
                    buttonText="Save"
                />
                <v-btn color="red" class="mx-10" size="large" @click="cancel" elevation="1">
                    Cancel
                </v-btn>
            </v-row>
        </v-card>
    </v-overlay>
</template>

<script>
import store from '@/store/index'
import { setUserdata } from '@/services/UserService.js'
import SpinnerButton from '@/components/SpinnerButton.vue'

export default {
    name: 'AccountEditForm',
    components: {
        SpinnerButton
    },
    props: {
        user: {
            firstName: String,
            lastName: String,
            email: String,
            address: {
                street: String,
                postalCode: String
            }
        }
    },
    data() {
        return {
            hasSetUserError: false,
            setUserError: '',
            edit: false,
            submitting: false,
            fields: [],
            rules: {
                name: [
                    val => !!val || 'Name is required'
                ],
                email: [
                    val => !!val || 'E-mail is required',
                    val => /^(([^<>()[\]\\.,;:\s@']+(\.[^<>()\\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(val) || 'E-mail must be valid'
                ],
                street: [
                    val => !!val || 'Street is required'
                ],
                postalCode: [
                    val => !!val || 'Address is required',
                    v => (String(v).length === 4) || 'Postal code must be 4 characters'
                ]
            }
        }
    },
    methods: {
        async onSubmit() {
            if (!this.$refs.form.validate) {
                return
            }
            const userData = {
                firstName: this.fields[0].prop,
                lastName: this.fields[1].prop,
                email: this.fields[2].prop,
                address: {
                    street: this.fields[3].prop,
                    postalCode: this.fields[4].prop
                }
            }
            this.submitting = true
            try {
                const response = await setUserdata(userData)
                if (response) {
                    store.dispatch('user/setUser', response)
                }
            } catch (e) {
                this.hasSetUserError = true
                this.setUserError = e.message
            }
            this.submitting = false
            this.$emit('saveEdit', userData)
        },
        cancel() {
            this.$emit('cancelEdit')
        }
    },
    async updated() {
        this.fields = [
            { label: 'First name', prop: this.user.firstName, icon: 'mdi-account-outline', rule: this.rules.name },
            { label: 'Last name', prop: this.user.lastName, icon: 'mdi-account', rule: this.rules.name },
            { label: 'Email address', prop: this.user.email, icon: 'mdi-email-outline', rule: this.rules.email },
            { label: 'Street', prop: this.user.address.street, icon: 'mdi-map-marker-outline', rule: this.rules.street },
            { label: 'Postal code', prop: this.user.address.postalCode, icon: 'mdi-map-marker', rule: this.rules.postalCode }
        ]
    }
}
</script>

<style scoped>
h1 {
    margin-bottom: 30px;
}
</style>
