<template>
<div
    class="message-container my-1"
    :class="{ 'text-right': isFromCurrentUser }"
>
    <v-sheet
        elevation="2"
        class="content-sheet rounded-xl py-2 px-4 d-inline-block text-left"
        :class="{ 'sender-color': isFromCurrentUser }"
        rounded-xl
    >
        {{ content }}
    </v-sheet>
    <div class="timestamp mt-2">
        {{ formattedTimestamp }}
    </div>
</div>
</template>

<script>
export default {
    props: {
        content: {
            type: String,
            required: true
        },
        isFromCurrentUser: {
            type: Boolean,
            required: true
        },
        timestamp: {
            type: String,
            required: true
        }
    },
    computed: {
        formattedTimestamp() {
            const timestampAsDate = new Date(this.timestamp)
            const now = new Date()

            if (now.getDay() === timestampAsDate.getDay()) {
                return 'Today at ' + timestampAsDate.toTimeString().split(' ')[0]
            } else {
                const splitTimestamp = timestampAsDate.toString().split(' ')
                return `${splitTimestamp[0]} ${splitTimestamp[1]} ${splitTimestamp[2]} ${splitTimestamp[3]} ${splitTimestamp[4]}`
            }
        }
    }
}
</script>

<style scoped>
.message-container {
    border-radius: 5px;
}

.sender-color {
    background-color: #35717a;
    color: white;
}

.content-sheet {
    overflow-wrap: break-word;
    word-break: break-word;
}

.timestamp {
    color: #525252;
}
</style>
