<template>
    <v-card
        size="x-small"
        :ripple="false"
        variant="outlined"
        width="100%"
        @click="test"
        class="bg-grey-lighten-3 mb-2 pa-2">
        <v-row>
            <v-col sm="4" cols="2">
        <v-img aspect-ratio="1" class="rounded bg-grey-lighten-3" lazy-src="@/assets/bocoplaceholdergrey.png"
            :src="image.data"
          >
        </v-img>
            </v-col>
            <v-col sm="8" cols="10">
        <v-title class="text-break"><b>{{ user.firstName }} {{ user.lastName }} </b></v-title>
        <br />
        <v-text class="text-break"> {{ item.title }}</v-text>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
import { getUserdataByEmail } from '../services/UserService'
import { getItem, getItemImage } from '../services/ItemService'

export default {
    props: {
        chatUuid: {
            type: String,
            required: true
        },
        userEmail: {
            type: String,
            required: true
        },
        itemId: {
            type: Number,
            required: true
        }
    },
    data: function() {
        return {
            user: {},
            item: {},
            image: {}
        }
    },
    methods: {
        test() {
            this.$emit('chat:select', this.chatUuid)
        }
    },
    async beforeMount() {
        this.user = await getUserdataByEmail(this.userEmail)
        this.item = await getItem(this.itemId)
        const imageId = this.item.imageIds[0]
        try {
            this.image = await getItemImage(this.item.id, imageId)
        } catch (e) {
            console.error(e)
        }
    }
}
</script>
