<template>
    <v-dialog
        v-model="dialog"
        persistent
    >
        <v-card>
            <v-card-title class="text-h5">
                Confirmation
            </v-card-title>
            <v-card-text>
                {{ dialogText }}
            </v-card-text>
                <v-card-actions>
                    <v-btn class="confirmation-button" @click='confirmDialog(confirmationFunc)'>
                        {{ confirmationButtonText }}
                    </v-btn>
                    <v-btn class="cancel-button" @click='closeDialog(cancelFunc)'>
                        {{ cancelButtonText }}
                    </v-btn>
                </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'ConfirmationAlert',
    props: {
        dialogText: String,

        confirmationFunc: String,
        confirmationButtonText: String,
        confirmationColor: String,

        cancelFunc: String,
        cancelButtonText: String,
        cancelColor: String
    },
    data() {
        return {
            dialog: false
        }
    },
    methods: {
        confirmDialog(functionCall) {
            this.$emit(functionCall)
        },
        closeDialog(functionCall) {
            this.$emit(functionCall)
        }
    }
}
</script>

<style scoped>
/* Classes set by parent */
.confirmation-button {}
.cancel-button {}
</style>
