<template>
    <v-dialog
        v-model="dialog"
        persistent
    >
        <v-card class="bg-red-lighten-5">
            <v-card-title class="text-h5 text-red-darken-1">
                <v-icon class="pr-4">mdi-close-circle</v-icon>

                <span>{{ title }}</span>
            </v-card-title>
            <v-card-text class="text-red">
                {{ message }}
            </v-card-text>
            <v-card-actions>
                <v-btn class="ok-button" @click="dismiss">
                    DISMISS
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'ErrorDialog',
    props: {
        title: String,
        message: String,
        modelValue: Boolean
    },
    watch: {
        modelValue() {
            this.dialog = this.modelValue
        }
    },
    data() {
        return {
            dialog: this.modelValue
        }
    },
    methods: {
        dismiss() {
            this.dialog = false
            this.$emit('update:modelValue', this.dialog)
        }
    }
}
</script>

<style scoped>
</style>
