<template>
    <v-row dense justify="start">
        <v-col cols="12" sm="7" order-sm="2">

        <!-- Price sort -->
        <v-btn color="#FFFFFF" class="mr-4" @click="changeSort('price')">
            <div class="d-inline-block mr-2">
                <v-icon v-if="(sortBy === 'price') && (sortOrder=== 'asc')">mdi-sort-ascending</v-icon>
                <v-icon v-else-if="(sortBy === 'price') && (sortOrder === 'desc')">mdi-sort-descending</v-icon>
                <v-icon v-else-if="(sortBy !== 'price')">mdi-sort</v-icon>
            </div>
            <p>Price</p>
        </v-btn>

        <!-- Category filter -->
        <div class="categories-filter-container d-inline-block">
            <v-btn
                color="#FFFFFF"
                class="show-categories-button"
                @click="showCategories = !showCategories"
            >
                <v-icon class="mr-2">mdi-filter-outline</v-icon>
                {{ selectedCategory }}
            </v-btn>

            <v-list v-show="showCategories" class="categories-list">
                <v-list-item
                    v-for="(category, index) in categories"
                    :key="index"
                    class="category-filter-item"
                    @click="changeCategory(category)"
                    @keydown.enter="changeCategory(category)"
                >
                    <v-list-item-title>{{ category }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </div>

        </v-col>
        <v-col cols="12" sm="5" order-sm="2" class="text-right">
        <!-- Clear button -->
        <v-btn color="#c2387d" variant="outlined" elevation="2" class="mr-4" @click="clearSorts()">
            <p> Clear </p>
        </v-btn>

        <!-- Search button -->
        <v-btn @click="tickSearch" variant="outlined" elevation="2" class="mr-4">
            Search
        </v-btn>
        </v-col>

        <v-col cols="12" order="3">
        <!-- Search field -->
        <v-text-field
            v-model="searchInput"
            label="Search"
            placeholder="Search here"
            variant="outlined"
            @input="debouncedSearch"
            @keydown.enter="tickSearch"
        ></v-text-field>

        </v-col>
    </v-row>
</template>

<script>
import { getCategories } from '@/services/ItemService'
import { Debouncer } from '@/util/Debouncer'

export default {
    name: 'FilterDropDown',
    props: {
        debounceMs: Number,
        searchValue: String
    },
    data() {
        return {
            searchInput: '',
            sortBy: '',
            sortOrder: '',
            selectedCategory: 'Category',
            categories: [],
            showCategories: false,
            debouncer: new Debouncer(this.debounceMs, this.emitSearch)
        }
    },
    methods: {
        changeSort(sortBy) {
            if (sortBy !== this.sortBy) {
                this.sortBy = sortBy
            }
            this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc'

            this.$emit('sort:changed', { by: this.sortBy, order: this.sortOrder })
        },
        clearSorts() {
            this.sortBy = ''
            this.sortOrder = ''
            this.searchInput = ''
            this.selectedCategory = 'Category'
            this.$emit('sort:changed', { by: this.sortBy, order: this.sortOrder })
            this.$emit('category:changed', '')
            this.$emit('doSearch', this.searchInput)
        },
        changeCategory(category) {
            this.selectedCategory = category
            this.$emit('category:changed', category)
        },
        debouncedSearch() {
            this.debouncer.debounce()
        },
        tickSearch() {
            this.debouncer.tick()
        },
        emitSearch() {
            this.$emit('doSearch', this.searchInput)
        }
    },
    async mounted() {
        this.categories = await getCategories()
    }
}
</script>

<style scoped>
.show-categories-button {
    min-width: 140px;
}

.categories-list {
    position: absolute;
    z-index: 99;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 8px 2px #5e5e5e;
}

.categories-filter-container {
    position: relative;
}

.category-filter-item {
    cursor: pointer;
}

.category-filter-item:hover {
    background-color: #eeeeee;
}
</style>
