<template>
  <v-footer
    class="bg-grey-lighten-4 text-center"
    app
    bottom
    padless
    max-height="220px"
    min-height="220px"
  >
    <v-row
      no-gutters
      >
        <v-row class="text-center">
          <v-col class=" mt-2 py-2 text-center">
            All content within this application is by law the intellectual property of BOCO. Regular, systematic or continuous gathering, storing, indexing, distribution and all other form of handling data is not permitted without explicit, written permission from Boco inc. and the creators of BOCO.no and their Legal team.
            </v-col>
        </v-row>
      <v-col
        class="text-center my-4"
        cols="12"
      >
      <v-icon class="text">
        {{ copyrighticon }}
      </v-icon>
      {{ new Date().getFullYear() }} - <strong>BOCO</strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
    // eslint-disable-next-line vue/multi-word-component-names
    name: 'Footer',

    data: () => ({
        icons: [
            'mdi-information'
        ],
        copyrighticon: ('mdi-copyright')
    }),
    methods: {
        clickFaqTest() {
            this.$emit('FAQ')
        },
        clickHomeTest() {
            this.$emit('Home')
        }
    }
}
</script>

<style scoped>

.copyright-text{
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  padding-top: 20px;
  font-size: 12px;
}

</style>
