<template>
  <div>
      <iframe
      height="300"
      width="100%"
      style="border:0"
      loading="lazy"
      allowfullscreen
      :src="`https://www.google.com/maps/embed/v1/search?q=${locationURLEncoded}%20Norge&key=${apikeyForURL}`">
      </iframe>
  </div>
</template>

<script>
import { MapSearchOption } from '@/util/Enums'

export default {
    name: 'GmapEmbed',
    props: {
        searchOption: { type: MapSearchOption, required: true },
        address: { type: Object, required: true }
    },
    computed: {
        apikeyForURL: function() {
            const apikey = process.env.VUE_APP_GOOGLE_MAPS_API_KEY
            return apikey
        },
        locationURLEncoded: function() {
            let srcURL
            switch (this.searchOption) {
            case MapSearchOption.POSTALAREA:
                srcURL = this.address.postalCode
                break

            case MapSearchOption.ADDRESS:
                srcURL = this.address.street + ',' + this.address.postalCode
                break
            }
            return encodeURIComponent(srcURL)
        }
    }
}
</script>

<style>

</style>
