<template>
        <v-row dense justify="start">
        <v-col cols="2">
            <img v-bind:src="image" width="50" height="50"/>
        </v-col>
        <v-col cols="9">
            <v-text-field
                :disabled="disabled"
                v-model="descriptionInput"
                label="Picture Description"
                placeholder="Enter Picture Description"
                type="text"
                variant="outlined"
                class="ma-0"
                required
                clearable
                @change='$emit("customChange", $event.target.value, {index})'
                :rules="[v => !!v || 'Picture description is required']"
            />
        </v-col>
        <v-col cols="1">
            <v-btn
                elevation="1"
                color="red"
                @click='$emit("deletePicture",{index})'
                class="ma-0"
                size="x-small"
                block
                >
                x
            </v-btn>
            </v-col>
            </v-row>
</template>

<script>
export default {
    data: function() {
        return {
            descriptionInput: this.description,
            disabled: this.disabledInputt
        }
    },
    props: {
        index: Number,
        title: String,
        description: String,
        image: String,
        disabledInputt: Boolean
    }
}
</script>

<style>
</style>
