<template>
  <v-col cols="12" sm="6" md="4" lg="3">
    <v-card hover
        :to=" { name: 'item', params: { cached: item, id: item.id } }"
        class="rounded ma-1 pa-2 card-content"
        width="100%"
        elevation="0"
        color="#f5f5f5">
          <v-img aspect-ratio="1" class="rounded bg-grey-lighten-3" lazy-src="@/assets/bocoplaceholdergrey.png"
            :src="image.data"
          >
            <v-btn class="mx-4" color="#F06292" border="solid 1px black">
              {{ item.price }}/{{ item.priceUnit }}
            </v-btn>
          </v-img>
        <v-card-title class="mt-6 mx-4 card-title">
            {{ item.title }}
        </v-card-title>
        <v-chip color="green" class="mt-1 mx-5" v-if="isOwnedByCurrentUser">Your item</v-chip>
        <v-card-text>
            <div class="font-weight-bold ml-4 mb-2">
              {{ item.address.postalCode }}
            </div>
            <div class="ml-4 mb-2">
              {{ dateToString(item.startTime) }} to {{ dateToString(item.endTime) }}
            </div>
            <div class="ml-4 mb-2 card-description">
              {{ item.description }}
            </div>
          </v-card-text>
        </v-card>
      </v-col>
</template>

<script>
import { translateDateToString } from '@/util/ToString'

import { getItemImage } from '@/services/ItemService'
import store from '@/store'

export default {
    name: 'ItemCard',
    props: {
        item: Object
    },
    computed: {
        isOwnedByCurrentUser: function() {
            return store.getters['user/email'] === this.item.userEmail
        }
    },
    data() {
        return {
            image: {}
        }
    },
    async beforeMount() {
        const imageId = this.item.imageIds[0]
        try {
            this.image = await getItemImage(this.item.id, imageId)
        } catch (e) {
            console.error(e)
        }
    },
    methods: {
        dateToString(date) {
            return translateDateToString(date)
        }
    }
}
</script>

<style scoped>

.card-title {
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.card-description {
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
</style>
