<template>
<v-container>
    <FilterMenu
        debounceMs=600
        @doSearch="updateSearch"
        @sort:changed="changeSort"
        @category:changed="changeCategory"
        :searchValue="searchInput"
    />

    <v-row class="justify-center">
        <v-progress-circular v-if="loading" class="pa-2" indeterminate color="white"/>
        <p v-else-if="!items.length" class="justify-center">No items found...</p>
    </v-row>
    <v-row v-show="!loading" dense justify="start">
        <ItemCard justify="center" v-for="item in items" :key="item.id" :item=item />
        <br><br>
    </v-row>
    <v-pagination
        v-model="page"
        :length="length"
        v-show="!loading"
    ></v-pagination>
</v-container>
</template>

<script>
import { getItems } from '@/services/ItemService'
import FilterMenu from '@/components/FilterMenu.vue'
import ItemCard from '@/components/ItemCard.vue'

export default {
    name: 'ItemContainer',
    components: {
        ItemCard,
        FilterMenu
    },
    props: {
        filter: {
            type: String
        }
    },
    data() {
        return {
            loading: true,
            items: [],
            sort: {},
            category: '',
            search: '',
            page: 1,
            length: 0,
            limit: 12
        }
    },
    created() {
        return this.updateItems()
    },
    watch: {
        limit() { this.updateItems() },
        page() { this.updateItems() },
        sort() { this.updateItems() },
        category() { this.updateItems() },
        search() { this.updateItems() }
    },
    methods: {
        updateItems() {
            this.loading = true
            return getItems({
                limit: this.limit,
                page: this.page - 1,
                sort: this.sort.by,
                sortDir: this.sort.order,
                category: this.category,
                search: this.search,
                email: this.filter
            }).then(items => {
                this.loading = false
                this.items = items.content
                this.page = items.pageNo + 1
                this.length = items.totalPages
            }).catch(e => {
                this.fetchDataError = e.message
                this.hasFetchDataError = true
            })
        },
        changeSort(sort) {
            this.sort = sort
        },
        changeCategory(category) {
            this.category = category
        },
        updateSearch(search) {
            this.page = 1
            this.search = search
        }
    }
}
</script>
