<template>
  <v-container class="pa-2">
      <v-card class="rounded pa-2" color="#f5f5f5" elevation="0" :to="{ name: 'item', params: { id: item.id } }" hover>
          <v-row>
            <v-col sm="2" cols="4">
              <v-img :src="image.data" aspect-ratio="1" class="rounded ma-1 bg-grey-lighten-3" lazy-src="@/assets/bocoplaceholdergrey.png"></v-img>
            </v-col>
            <v-col sm="10" cols="8">
              <v-row class="wrap">
                  <v-card-title cols="12" class="text-left mt-2" style="word-break: break-word">{{ item.title }}</v-card-title>
              </v-row>
              <v-row>
                <v-card-text sm="8" cols="10">
                  {{ dateToString(item.startTime) }} - {{ dateToString(item.endTime) }} <br>
                  {{ item.description }}
                </v-card-text>
                <v-spacer></v-spacer>
                <v-card-actions sm="4" cols="2" class="mr-3">
                  <v-btn prepend-icon='mdi-pencil' size="large" :to=" { name: 'edit-item', params: { id: this.item.id } }" color="teal lighten-2"> Edit </v-btn>
                  <v-btn prepend-icon='mdi-delete' size="large" @click.prevent="openDeleteDialog()" color="red lighten-2"> Delete </v-btn>
                </v-card-actions>
              </v-row>
            </v-col>
          </v-row>
      </v-card>
  </v-container>
</template>

<script>
import { deleteItem, getItemImage } from '@/services/ItemService'
import { translateDateToString } from '@/util/ToString'

export default {
    name: 'MyItemCard',
    props: {
        item: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            image: {}
        }
    },
    methods: {
        dateToString(date) {
            return translateDateToString(date)
        },
        openDeleteDialog() {
            this.$emit('openDeleteDialog', this.item.id)
        },
        async deleteItem() {
            try {
                await deleteItem(this.item.id)
            } catch (e) {
                alert(e)
            }
            this.openDialog = false
        },
        cancelDelete() {
            this.openDialog = false
        }
    },
    async beforeMount() {
        this.image = await getItemImage(this.item.id, this.item.imageIds[0])
    }
}
</script>
