<template>
    <v-app-bar
      color="#35717a"
      app
      dense
    >
      <v-toolbar-title>
        <v-btn color="#FFFFFF"
            v-bind="props" depressend :to="{ name: 'home' }">
          <v-icon icon="mdi-home" />
          Home
        </v-btn>

      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn v-if="(session)" color="#FFFFFF" :to="{ name: 'create-item' }">
        <p><v-icon icon="mdi-pencil-plus" ></v-icon> Create a new item</p>
      </v-btn>

      <v-btn v-if="(session)" color="#FFFFFF" depressed :to="{ name: 'messages' }">
        <p><v-icon icon="mdi-chat" ></v-icon> Messages</p>
      </v-btn>

      <v-btn color="#FFFFFF" depressed :to="{ name: 'my-account' }">
        <p v-if="(session)">
          <v-icon icon="mdi-account" ></v-icon> My Account</p>
        <p v-else><v-icon icon="mdi-login-variant"></v-icon> Log in</p>
      </v-btn>
    </v-app-bar>
</template>

<script>
import store from '@/store/index'

export default {
    name: 'navigation-bar',
    data() {
        return {
            session: false
        }
    },
    created() {
        this.session = store.getters['authentication/session']
    },
    watch: {
        $route(to, from) {
            this.session = store.getters['authentication/session']
        }
    }
}
</script>

<style>
</style>
