<template>
    <v-btn
        :aria-busy="spin"
        :disabled="spin"
        :type="type"
        :class="classes"
        :elevation="elevation"
        :color="color"
        :size="size"
        :form="form"
        :block="block"
    >
        <v-progress-circular :aria-busy="spin" class="pa-2" v-if="spin" indeterminate color="white" aria-label="Loading"/>
        <p v-else>{{ buttonText }}</p>
    </v-btn>
</template>

<script>
export default {
    name: 'SpinnerButton',
    props: {
        form: {
            type: String,
            required: true
        },
        spin: {
            type: Boolean,
            required: true
        },
        buttonText: {
            type: String,
            required: true
        },
        color: {
            type: String,
            default: '#F06292'
        },
        type: {
            type: String,
            default: 'submit'
        },
        classes: String,
        size: {
            type: String,
            default: 'large'
        },
        elevation: String,
        block: {
            type: Boolean,
            default: false
        }
    }
}
</script>
