<template>
    <div class="rounded chat-container" @click="delegateFocusToNewMsgField()">
        <div class="px-8 py-2 text-center">
            <div>
                <h4 class="receiver-name py-2 d-inline-block"> <b>
                    {{ receiver.firstName }} {{ receiver.lastName }}  </b>
                </h4>
                <h4 class="receiver-email px-2 d-inline-block">
                    <a href="mailto:{{ receiver.email }}">
                        {{ receiver.email }}
                    </a>
                </h4>
            </div>
        </div>
        <v-divider />
        <div class="text-center item-desc-container">
            <router-link v-if="item" :to="{ name: 'item', params: { id: item.id } }">
                <h4 class="pa-2"> <b> {{ item.title }} </b> at
                {{ item.price }}kr / {{ item.priceUnit }}</h4>
            </router-link>
        </div>
        <div class="alert-container">
            <v-expand-transition>
                <v-alert
                    v-model="hasError"
                    type="error"
                    class="error-alert"
                    variant="contained"
                    icon="mdi-chat-alert"
                    prominent
                >
                    <p>Unable to connect to the chat services.</p>
                    <p>Please check your internet connection and try again.</p>
                </v-alert>
            </v-expand-transition>
        </div>
        <div class="messages-container px-8" ref="messages-container">
            <template v-for="(message, index) in messages" :key="index">
                <ChatMessage
                    :content="message.content"
                    :timestamp="message.timestamp"
                    :isFromCurrentUser="message.senderEmail === currentUserEmail"
                />
            </template>
        </div>
        <div class="form-container px-8 pt-2">
            <v-form
                @submit.prevent="sendUserMessage"
                ref="new-message-form"
            >
                <v-text-field
                    auto-grow
                    class="px-2"
                    v-model="newMessage"
                    ref="new-message-text-field"
                    :disabled="hasError"
                    placeholder="Write something here ..."
                    persistent-placeholder
                    variant="outlined"
                    color="lightgray"
                    bg-color="#f5f5f5"
                    hint="Press Enter to send message"
                    autofocus
                />
            </v-form>
        </div>
    </div>
</template>

<script>
import { getMessagesForChat, getChatWebSocketConnection } from '@/services/ChatService'
import { getUserdataByEmail } from '@/services/UserService'
import { getItem } from '@/services/ItemService'
import ChatMessage from '@/components/ChatMessage'
import store from '@/store/index'

export default {
    components: {
        ChatMessage
    },
    props: {
        chat: {
            type: Object,
            required: true
        }
    },
    data: function() {
        return {
            messages: [],
            newMessage: '',
            receiver: {},
            item: null,
            stompClient: null,
            hasError: false
        }
    },
    methods: {
        async sendUserMessage() {
            if (!this.newMessage || this.newMessage === '') {
                return
            }

            const message = {
                timestamp: new Date(),
                content: this.newMessage,
                senderEmail: this.currentUserEmail
            }

            this.stompClient.publish({
                destination: `/chats/${this.chat.uuid}/send-message`,
                body: JSON.stringify(message)
            })

            this.newMessage = ''
            this.$refs['messages-container'].scrollTop = 0
        },
        delegateFocusToNewMsgField() {
            setTimeout(() => {
                this.$refs['new-message-text-field'].$el.focus()
            }, 100)
        },

        wsConnectCallback() {
            this.hasError = false
        },
        wsErrorCallback() {
            this.hasError = true
        },
        wsMessageCallback(message) {
            this.messages.unshift(JSON.parse(message.body))
        }
    },
    watch: {
        async chat() {
            this.messages = (await getMessagesForChat(this.chat.uuid)).reverse()
            this.receiver = await getUserdataByEmail(this.chat.receiverEmail)
            this.item = await getItem(this.chat.itemId)

            this.stompClient = getChatWebSocketConnection(
                `/chats/${this.chat.uuid}/messages`,
                this.wsConnectCallback,
                this.wsErrorCallback,
                this.wsMessageCallback
            )
            this.stompClient.activate()
        }
    },
    computed: {
        currentUserEmail() {
            return store.getters['user/email']
        }
    }
}
</script>

<style scoped>
.chat-container {
    background-color: #f5f5f5;
    position: relative;
    border:solid 1px #cbcbcb;
}

.receiver-name {
    font-size: 16px;
}

.receiver-email > a {
    font-weight: 400;
    color: #525252;
}

.item-desc-container {
    font-size: 18px;
    font-weight: 400;
    background-color: #ffffff;
    color: #565656;
    border: dotted 2px #ffffff;
}

    .item-desc-container > a {
        text-decoration: none;
    }

    .item-desc-container > a > h4 {
        color: black;
        font-weight: 400;
    }

    .item-desc-container > a > p {
        color: #525252;
    }

    .item-desc-container:hover {
        background-color: #e5e5e5;
    }

.error-alert {
    position: absolute;
    left: 0;
    right: 0;
}

.messages-container {
    overflow-y: scroll;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
}
</style>
