<template>
    <v-card elevation="0" v-if="user.id">
        <v-avatar color="red" class="ma-2">
            {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
        </v-avatar>
        <router-link :to="{ name: 'userDetails', params: { id: user.id } }">
            {{ user.firstName }} {{ user.lastName }}
        </router-link>
    </v-card>
</template>

<style scoped>
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
</style>

<script>
export default {
    name: 'UserDetailsCard',
    props: {
        user: {
            type: Object,
            required: true
        }
    }
}
</script>
