<template>
  <v-app>
    <navbar/>
      <v-main>
        <router-view/>
      </v-main>
    <Footer/>
  </v-app>
</template>

<script>
import Footer from '@/components/Footer.vue'
import navbar from '@/components/NavigationBar.vue'
import store from '@/store'
import axios from 'axios'
import router from '@/router'
import { InvalidCredentialsError } from '@/services/SessionService'

export default {
    name: 'App',
    components: {
        navbar,
        Footer
    },
    methods: {
    },
    data: () => ({

    }),
    async beforeCreate() {
        axios.interceptors.response.use(null, async error => {
            // if 401 - then token is invalid
            if (error.response && error.response.status === 401) {
                // stops session and pushes to login

                await store.dispatch('authentication/stopSession')
                await router.push({ name: 'login' })
                const newError = new InvalidCredentialsError('Username or password is wrong')
                newError.response = error.response
                throw newError
            }
            throw error
        })

        const token = localStorage.getItem('token')
        if (token) {
            await this.$store.dispatch('authentication/setSession', { token: token })
            await this.$store.dispatch('user/retrieveData')
        }
    }
}
</script>
